@import '../../../../../assets/_mixin.scss';
@import '../../../../../assets/_variables.scss';
.author-detail-wrap {
  margin-top: 110px !important;

  > div {
    display: grid;
  }

  .author-info {
    grid-template-columns: min-content 1fr;
    width: 100%;
    gap: 2%;
    position: relative;
    z-index: 200;
    margin-bottom: 233px;
    height: 631px;
    left: 5%;
    .author-img-box {
      width: 480px;

      @include backgroundImage;
      background-size: cover;
      .author-bg {
        z-index: -1;
        position: absolute;
        width: 276px;
        height: calc(100% + 84px);
        left: -6%;
        @include centerPosition;
      }
    }
    .author-contents {
      display: grid;
      grid-template-rows: auto 1fr;
      position: relative;
      .author-contents-info {
        display: grid;
        row-gap: 30px;
        padding-bottom: 32px;

        .author-role {
          font-size: 32px;
          .author-sub-role {
            @include teamsSubTxt('web');
            font-weight: normal;
          }
        }
        .author-name {
          font-size: 40px;
          .classof-author {
            @include teamsSubTxt('web');
          }
        }
      }

      .edit-del-btn {
        &.author {
          position: absolute;
          right: 0;
          transform: translateY(-100%);
        }
      }

      .author-introduction {
        height: 100%;
        overflow-y: scroll;
      }
    }
  }

  .author-portfolio {
    @include teamsRow2('web');
    h3 {
      @include teamsH3('web');
    }
    .no-list {
      justify-self: center;
      font-weight: bold;
      color: #6d6d6d99;
    }
    margin-bottom: 121px;
    .portfolio-lists {
      display: grid;
      row-gap: 64px;
      .portfolio {
        display: inherit;

        grid-template-areas:
          'p-icon p-title'
          'p-icon p-link';

        grid-template-columns: repeat(2, max-content);
        grid-template-rows: max-content min-content;
        column-gap: 32px;
        .icon-link {
          width: 72px;
          height: 72px;
          @include backgroundImage;
          grid-area: p-icon;
          background-image: url('../../../../../assets/images/Portfolio_clip@2x.png');
        }
        .title {
          grid-area: p-title;
          font-size: 20px;
        }
        a {
          text-decoration: underline;
          align-self: end;
          height: fit-content;
          font-size: 20px;
          color: #6d6d6d99;
        }
      }
    }
  }

  .author-contact {
    @include teamsRow2('web');
    h3 {
      @include teamsH3('web');
    }

    .contacts {
      display: flex;
      justify-content: space-around;
      li {
        gap: 32px;
        display: grid;
        justify-items: center;
        .contact-img {
          width: 48px;
          height: 48px;
          @include backgroundImage;
        }
        span {
          font-weight: bold;
          font-size: 20px;
        }
        &.phone {
          .contact-img {
            background-image: url('../../../../../assets/images/Tel@2x.png');
          }
        }
        &.kakao {
          .contact-img {
            background-image: url('../../../../../assets/images/kakaotalk@2x.png');
          }
        }
        &.instagram {
          .contact-img {
            background-image: url('../../../../../assets/images/instagram@2x.png');
          }
        }
      }
    }
  }
}

@include response('tablet') {
  .author-detail-wrap {
    margin-top: 65px !important;

    .author-info {
      gap: 3%;
      height: 308px;
      margin-bottom: 181px;
      left: 0;
      .author-img-box {
        width: 234px;
        .author-bg {
          width: 140px;
          height: calc(100% + 53px);
          left: -6%;
        }
      }
      .author-contents {
        .author-contents-info {
          padding-bottom: 19px;
          row-gap: 16px;
          .author-role {
            font-size: 22px;
            .author-sub-role {
              @include teamsSubTxt('tablet');
            }
          }
          .author-name {
            font-size: 24px;
            .classof-author {
              @include teamsSubTxt('tablet');
            }
          }
        }
      }
    }
    .author-portfolio {
      @include teamsRow2('tablet');
      margin-bottom: 96px;
      h3 {
        @include teamsH3('tablet');
      }

      .portfolio-lists {
        gap: 48px;
        .portfolio {
          column-gap: 16px;
          .icon-link {
            width: 48px;
            height: 48px;
          }
          .title {
            font-size: 17px;
          }
          a {
            font-size: 14px;
          }
        }
      }
    }

    .author-contact {
      @include teamsRow2('tablet');
      h3 {
        @include teamsH3('tablet');
      }
    }
  }
}
@include response('phone') {
  .author-detail-wrap {
    margin-top: 44px !important;

    .author-info {
      grid-template-columns: 1fr;
      grid-template-rows: max-content 1fr;
      justify-items: center;
      gap: 0;
      height: auto;
      margin-bottom: 42px;
      .author-img-box {
        height: 174px;
        width: 130px;
        margin-bottom: 16px;
        .author-bg {
          width: inherit;
          height: inherit;
          top: 0;
          transform: translateX(-50%);
          left: 54%;
          margin-top: -13px;
        }
      }
      .author-contents {
        justify-items: center;
        .author-contents-info {
          grid-template-areas: 'role' 'name' 'edit';
          padding-bottom: 19px;
          row-gap: 16px;
          justify-items: center;
          row-gap: 10px;
          .author-role {
            @include teamsH3('phone');
            .author-sub-role {
              @include teamsSubTxt('phone');
            }
          }
          .author-name {
            font-size: 17px;
            .classof-author {
              @include teamsSubTxt('phone');
            }
          }
          .edit-del-btn {
            &.author {
              position: static;
              right: 0;
              transform: none;
            }
          }
        }
      }
    }
    .author-portfolio {
      @include teamsRow2('phone');
      margin-bottom: 32px;
      h3 {
        @include teamsH3('phone');
      }
      .portfolio-lists {
        gap: 48px;
        .portfolio {
          .icon-link {
            width: 29px;
            height: 29px;
          }
          .title {
            font-size: 14px;
          }
          a {
            font-size: 10px;
          }
        }
      }
    }

    .author-contact {
      @include teamsRow2('phone');
      h3 {
        @include teamsH3('phone');
      }
      .contacts {
        li {
          gap: 16px;
          .contact-img {
            width: 32px;
            height: 32px;
          }
          span {
            font-size: 14px;
          }
        }
      }
    }
  }
}
