@import '../../../../../assets/_mixin.scss';
@import '../../../../../assets/_variables.scss';
.author-detail-wrap {
  margin-top: 110px !important;

  > div {
    display: grid;
  }

  .author-info {
    grid-template-columns: 50% auto;
    width: 100%;
    gap: 7%;
    position: relative;
    z-index: 200;
    margin-bottom: 233px;

    .author-img-box {
      width: 100%;
      position: relative;
      @include backgroundImage;
      background-size: cover;
      background-color: #ffffff;
      .author-bg {
        z-index: -1;
        position: absolute;
        width: 50%;
        left: -10%;
        @include centerPosition;
      }
    }
    .author-contents {
      display: grid;
      grid-template-rows: auto 1fr;
      position: relative;
      .author-contents-info {
        display: grid;
        row-gap: 30px;
        padding-bottom: 32px;

        .author-role {
          font-size: 32px;
          .author-sub-role {
            @include teamsSubTxt('web');
            font-weight: normal;
          }
        }
        .author-name {
          font-size: 40px;
          .classof-author {
            @include teamsSubTxt('web');
          }
        }

        .author {
          &.edit-del-btn {
            padding: 8px 32px;
            box-shadow: 0px 0px 4px #00000029;
            border-radius: 21px;
            button {
              font-size: 20px;
              column-gap: 8px;
              i {
                width: 15px;
                height: 15px;
              }
              .del-icon {
                width: 22px;
                height: 22px;
              }
            }
          }
        }
      }

      .edit-del-btn {
        &.author {
          position: absolute;
          right: 0;
          transform: translateY(-100%);
        }
      }

      .author-introduction {
        height: 100%;
        overflow-y: scroll;
        white-space: pre-wrap;
        word-break: break-all;
        padding: 4px 0;
        line-height: 1.4em;
      }
    }
  }

  .author-portfolio {
    @include teamsRow2('web');
    h3 {
      @include teamsH3('web');
    }
    .no-list {
      justify-self: center;
      font-weight: bold;
      color: #6d6d6d99;
    }
    margin-bottom: 121px;
    .portfolio-lists {
      display: grid;
      row-gap: 64px;
      .portfolio {
        display: grid;
        grid-template-columns: max-content 1fr;
        column-gap: 32px;
        .icon-link {
          width: 72px;
          height: 72px;
          @include backgroundImage;
          background-image: url('../../../../../assets/images/Portfolio_clip@2x.png');
        }

        .portfolio-info {
          display: flex;
          flex-direction: column;
          row-gap: 14px;
          .title {
            font-size: 20px;
          }
          a {
            text-decoration: underline;
            align-self: end;
            height: fit-content;
            font-size: 20px;
            color: #6d6d6d99;
            word-break: break-all;
          }
        }
      }
    }
  }

  .author-contact {
    @include teamsRow2('web');
    h3 {
      @include teamsH3('web');
    }

    .contacts {
      display: flex;
      justify-content: space-around;
      li {
        gap: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .contact-img {
          width: 48px;
          height: 48px;
          @include backgroundImage;
        }
        span {
          font-weight: bold;
          font-size: 20px;
        }
        &.phone {
          .contact-img {
            background-image: url('../../../../../assets/images/Tel@2x.png');
          }
        }
        &.kakao {
          .contact-img {
            background-image: url('../../../../../assets/images/kakaotalk@2x.png');
          }
        }
        &.instagram {
          .contact-img {
            background-image: url('../../../../../assets/images/instagram@2x.png');
          }
        }
      }
    }
  }
}

@include response('tablet') {
  .author-detail-wrap {
    margin-top: 65px !important;

    .author-info {
      gap: 5%;
      margin-bottom: 181px;
      left: 0;
      .author-img-box {
        .author-bg {
          left: -6%;
        }
      }
      .author-contents {
        .author-contents-info {
          padding-bottom: 19px;
          row-gap: 16px;
          .author-role {
            font-size: 22px;
            .author-sub-role {
              @include teamsSubTxt('tablet');
            }
          }
          .author-name {
            font-size: 24px;
            .classof-author {
              @include teamsSubTxt('tablet');
            }
          }

          .author {
            &.edit-del-btn {
              padding: 8px 16px;
              button {
                font-size: 14px;
                column-gap: 6px;
                i {
                  width: 14px;
                  height: 14px;
                }
                .del-icon {
                  width: 15px;
                  height: 15px;
                }
              }
            }
          }
        }
      }
    }
    .author-portfolio {
      @include teamsRow2('tablet');
      margin-bottom: 96px;
      h3 {
        @include teamsH3('tablet');
      }

      .portfolio-lists {
        gap: 48px;
        .portfolio {
          column-gap: 16px;
          .icon-link {
            width: 48px;
            height: 48px;
          }
          .title {
            font-size: 17px;
          }
          a {
            font-size: 14px;
          }
        }
      }
    }

    .author-contact {
      @include teamsRow2('tablet');
      h3 {
        @include teamsH3('tablet');
      }
      .contacts {
        flex-direction: column;
        row-gap: 30px;
        justify-self: center;
      }
    }
  }
}

@include response('phone') {
  .author-detail-wrap {
    margin-top: 44px !important;

    .author-info {
      grid-template-columns: 1fr;
      grid-template-rows: max-content 1fr;
      justify-items: center;
      gap: 0;
      margin-bottom: 42px;
      .author-img-box {
        margin-bottom: 16px;
        width: 50%;
        .author-bg {
          @include widthHeight;
          top: 0;
          transform: translateX(-50%);
          left: 57%;
          margin-top: -14px;
        }
      }
      .author-contents {
        justify-items: center;
        .author-contents-info {
          grid-template-areas: 'role' 'name' 'edit';
          padding-bottom: 19px;
          row-gap: 16px;
          justify-items: center;
          row-gap: 10px;
          .author-role {
            @include teamsH3('phone');
            .author-sub-role {
              @include teamsSubTxt('phone');
            }
          }
          .author-name {
            font-size: 17px;
            .classof-author {
              @include teamsSubTxt('phone');
            }
          }

          .author {
            &.edit-del-btn {
              position: static;
              right: 0;
              transform: none;
              padding: 6px 19px;
              button {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
    .author-portfolio {
      @include teamsRow2('phone');
      margin-bottom: 32px;
      h3 {
        @include teamsH3('phone');
      }
      .portfolio-lists {
        gap: 48px;
        .portfolio {
          .icon-link {
            width: 29px;
            height: 29px;
          }
          .title {
            font-size: 14px;
          }
          a {
            font-size: 10px;
          }
        }
      }
    }

    .author-contact {
      @include teamsRow2('phone');
      h3 {
        @include teamsH3('phone');
      }
      .contacts {
        li {
          gap: 16px;
          .contact-img {
            width: 32px;
            height: 32px;
          }
          span {
            font-size: 14px;
          }
        }
      }
    }
  }
}
