@import '../../assets/_mixin.scss';

body {
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  .el-main {
    display: flex;
    width: 50%;
    height: 600px;
    background-color: #ffffff;
    align-items: flex-start;
    justify-content: center;
    border-radius: 32px;
    margin: 80px auto;
    flex-direction: column;
    padding-left: 50px;
    .home-image {
      a {
        img {
          margin-top: -20%;
          margin-left: -5%;
        }
      }
    }
  }
  .sub-info {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

    .info-title {
      margin-top: 15px;
      font-size: 25px;
      font: normal normal bold 28px/41px Noto Sans KR;
    }
    .info-body {
      display: flex;
      flex-direction: column;

      input {
        margin-bottom: 5px;
        border: 1px solid #837d7d66;
        text-align: left;

        font: normal normal normal 16px/24px Noto Sans KR;

        color: black;
        opacity: 1;
        text-indent: 19px;

        width: 300px;
        height: 60px;
        margin-left: 30px;
        border-radius: 10px;
      }
      .check-info {
        height: 10px;
        margin-left: 30px;
        p {
          color: red;
          font-size: 15px;
        }
      }
    }
  }
  .input-password {
    display: flex;
    flex-direction: row;
  }
  .sub-info-private {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    .info-title-private {
      margin-top: 15px;
      font-size: 25px;
      font: normal normal bold 28px/41px Noto Sans KR;
    }
    .info-body {
      display: flex;
      flex-direction: column;
      input {
        margin-bottom: 10px;
        border: 1px solid #837d7d66;
        text-align: left;

        font: normal normal normal 16px/24px Noto Sans KR;

        color: black;
        opacity: 1;
        text-indent: 19px;

        width: 300px;
        height: 60px;
        margin-left: 30px;
        border-radius: 10px;
      }
      .select-job {
        border: 1px solid #837d7d66;
        margin-left: 30px;
        height: 60px;
        border-radius: 10px;
        width: 213px;

        padding-left: 0px;

        text-align: center;
        font: normal normal normal 16px/24px Noto Sans KR;
        letter-spacing: 0px;
        background-color: white;
        color: #00000080;
        opacity: 1;

        .selectJobIcon {
          width: 20px;
          height: 20px;
          margin-left: 10%;
        }
      }
    }
  }

  .signUp-button {
    width: 220px;
    height: 60px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 100px;
    background: #9a609c 0% 0% no-repeat padding-box;
    border-radius: 8px;
    border-style: none;
    font: normal normal medium Noto Sans KR;
    font-size: 23px;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
  }
}

@media (max-width: 1503px) and (min-width: 418px) {
  body {
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    .el-main {
      display: flex;
      width: 90%;
      height: 800px;
      background-color: #ffffff;
      align-items: flex-start;
      justify-content: center;
      border-radius: 32px;
      margin: 80px auto;
      flex-direction: column;
      padding-left: 50px;
    }
    .sub-info {
      display: flex;
      flex-direction: row;
      margin-bottom: 20px;
      .info-title {
        margin-top: 15px;
        font-size: 25px;
        font: normal normal bold 28px/41px Noto Sans KR;
      }
      .info-body {
        display: flex;
        flex-direction: column;
        input {
          margin-bottom: 10px;
          border: 1px solid #837d7d66;
          text-align: left;

          font: normal normal normal 16px/24px Noto Sans KR;

          color: black;
          opacity: 1;
          text-indent: 19px;

          width: 130%;
          height: 60px;
          margin-left: 50px;
          border-radius: 5px;
        }
        .check-info {
          height: 25px;
          margin-left: 60px;
          p {
            color: red;
            font-size: 15px;
          }
        }
      }
    }
    .input-password {
      display: flex;
      flex-direction: column;
    }
    .sub-info-private {
      display: flex;
      flex-direction: row;
      margin-bottom: 20px;
      .info-title-private {
        margin-top: 15px;
        font-size: 25px;
        font: normal normal bold 28px/41px Noto Sans KR;
      }
      .info-body {
        display: flex;
        flex-direction: column;
        input {
          margin-bottom: 10px;
          border: 1px solid #837d7d66;
          text-align: left;

          font: normal normal normal 16px/24px Noto Sans KR;

          color: black;
          opacity: 1;
          text-indent: 19px;

          width: 250px;
          height: 60px;
          margin-left: 50px;
          border-radius: 5px;
        }
        .select-job {
          border: 1px solid #837d7d66;
          margin-left: 30px;
          height: 60px;
          border-radius: 5px;
          width: 170px;

          padding-left: 0px;

          text-align: center;
          font: normal normal normal 16px/24px Noto Sans KR;
          letter-spacing: 0px;
          background-color: white;
          color: #00000080;
          opacity: 1;

          .selectJobIcon {
            width: 20px;
            height: 20px;
            margin-left: 10%;
          }
        }
      }
    }

    .signUp-button {
      width: 220px;
      height: 60px;
      cursor: pointer;
      margin-top: 120px;
      margin-left: -30%;
      background: #9a609c 0% 0% no-repeat padding-box;
      border-radius: 8px;
      border-style: none;
      font: normal normal medium Noto Sans KR;
      font-size: 23px;
      letter-spacing: 0px;
      color: #ffffff;
      opacity: 1;
    }
  }
}

@media (max-width: 613px) {
  body {
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    .el-main {
      display: flex;
      width: 90%;
      height: 750px;
      background-color: #ffffff;
      align-items: flex-start;
      justify-content: center;
      border-radius: 32px;
      margin: 0px auto;
      flex-direction: column;
      padding-left: 20px;
    }
    .sub-info {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      .info-title {
        margin-top: 15px;
        margin-bottom: 15px;
        font: normal normal bold 16px/24px Noto Sans KR;
      }
      .info-body {
        display: flex;
        flex-direction: column;
        input {
          margin-bottom: 5px;
          border: 1px solid #837d7d66;
          text-align: left;

          font: normal normal normal 16px/24px Noto Sans KR;

          color: black;
          opacity: 1;
          text-indent: 19px;

          width: 300px;
          height: 40px;
          margin-left: 0px;
          border-radius: 5px;
        }
        .check-info {
          height: 10px;
          margin-left: 30px;
          p {
            color: red;
            font-size: 15px;
          }
        }
      }
    }
    .input-password {
      display: flex;
      flex-direction: column;
    }
    .sub-info-private {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      .info-title-private {
        margin-top: 15px;
        font-size: 25px;
        margin-bottom: 15px;
        font: normal normal bold 16px/24px Noto Sans KR;
      }
      .info-body {
        display: flex;
        flex-direction: column;
        .insert-name {
          margin-bottom: 10px;
          border: 1px solid #837d7d66;
          text-align: left;

          font: normal normal normal 16px/24px Noto Sans KR;

          color: black;
          opacity: 1;
          text-indent: 19px;

          width: 200px;
          height: 40px;
          margin-left: 0px;
          border-radius: 5px;
        }
        input {
          margin-bottom: 10px;
          border: 1px solid #837d7d66;
          text-align: left;

          font: normal normal normal 16px/24px Noto Sans KR;

          color: black;
          opacity: 1;
          text-indent: 19px;

          width: 300px;
          height: 40px;
          margin-left: 0px;
          border-radius: 5px;
        }
        .select-job {
          border: 1px solid #837d7d66;
          margin-left: 30px;
          height: 40px;
          border-radius: 5px;
          width: 70px;

          padding-left: 0px;

          text-align: center;
          font-size: 10px;
          letter-spacing: 0px;
          background-color: white;
          color: #00000080;
          opacity: 1;

          .selectJobIcon {
            width: 10px;
            height: 10px;
            margin-left: 10%;
          }
        }
      }
    }

    .signUp-button {
      width: 220px;
      height: 45px;
      cursor: pointer;
      margin-top: 50px;
      margin-left: 45px;
      background: #9a609c 0% 0% no-repeat padding-box;
      border-radius: 8px;
      border-style: none;
      font: normal normal medium Noto Sans KR;
      font-size: 15px;
      letter-spacing: 0px;
      color: #ffffff;
      opacity: 1;
    }
  }
}
