@import '../../mainStyle.scss';
@font-face {
  font-family: 'Eulyoo1945-SemiBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/Eulyoo1945-SemiBold.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

.home-wrap {
  margin-top: -$header-heigth-web;
  grid-template-rows: max-content 1fr 76px;
  display: grid;
  .heroImg {
    @include backgroundImage;
    background-image: url('../../../assets/images/2021_main_black.png');
    background-size: cover;
    display: grid;
    align-content: center;
    height: 600px;

    .hero-contetns {
      width: 90%;
      margin: 0 auto;
      max-width: 1111px;
      font-size: 40px;
      display: grid;

      p,
      strong {
        text-shadow: 0px 0px 10px #c6d356cc;
        color: #ffffff;
        font-family: 'Eulyoo1945-SemiBold';
      }
      strong {
        margin-bottom: 24px;
      }
      p {
        margin-bottom: 48px;
      }
      button {
        a {
          padding: 15px 41px;
          width: fit-content;
          color: #ffffffcc;
          font-size: 20px;
          border: 1px solid #ffffff99;
          transition: all ease 0.3s;
          &:hover {
            color: #ffffff;
            border: 1px solid #ffffff;
          }
        }
      }
    }
  }
  .section-wrap {
    section {
      text-align: center;
      padding: 0 7%;
      width: 100%;

      * {
        font-family: 'NEXON Lv1 Gothic OTF';
      }
      strong {
        display: block;
        font-size: 32px;
        margin: 0 auto;
      }

      &.home-content {
        padding-bottom: 104px;
        h2 {
          padding: 72px 0 39px;
          color: #000000;
          font-size: 40px;
          margin: 0 auto;
          max-width: 867px;
        }
        strong {
          display: block;
          max-width: 704px;
        }
      }

      &.guestbook-wrap {
        width: 100%;
        background-color: #ffffff;
        margin-bottom: 100px;
        justify-items: center;
        display: grid;

        strong {
          margin-top: 3%;
        }

        .guestbook-photo-wrap {
          display: flex;
          column-gap: 3%;
          width: 100%;
          justify-content: center;
          margin: 32px 0;
          .guestbook-photo {
            width: 33.333%;
            max-width: 378px;

            @include backgroundImage;
          }
          .guestbook-photo-img01 {
            background-image: url('../../../assets/images/2021_left_img.png');
          }
          .guestbook-photo-img02 {
            background-image: url('../../../assets/images/2021_middle_img.png');
          }
          .guestbook-photo-img03 {
            background-image: url('../../../assets/images/2021_right_img.png');
          }
        }

        .guestbook-go {
          margin-bottom: 54px;
          a {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #837d7d66;
            color: #837d7d66;
            padding: 16px 122px;
            font-size: 20px;
            &:hover {
              color: #000000cc;
              border-color: #000000cc;
            }
          }
        }
      }

      &.home-video {
        margin-bottom: 150px;
        .home-video-inr {
          max-width: 867px;
          margin: 0 auto;
          height: 488px;
          iframe {
            @include widthHeight;
          }
        }

        strong {
          margin-top: 32px;
        }
      }
    }
  }
}

@include response('tablet') {
  .home-wrap {
    .heroImg {
      padding-top: 60px;
      height: 500px;
      .hero-contetns {
        strong,
        p {
          font-size: 24px;
        }
        s strong {
          margin-bottom: 20px;
        }
        p {
          margin-bottom: 20px;
        }
        button {
          a {
            padding: 11px 25px;
            font-size: 14px;
          }
        }
      }
    }

    .section-wrap {
      section {
        &.home-content {
          padding-bottom: 55px;
          h2 {
            font-size: 28px;
            padding: 55px 0 32px;
          }
        }

        strong {
          font-size: 24px;
        }

        &.guestbook-wrap {
          margin-bottom: 55px;
          .guestbook-go {
            margin-bottom: 32px;
            a {
              font-size: 16px;
              padding: 9px 42px;
            }
          }
        }

        &.home-video {
          margin: 0 auto 96px;

          .home-video-inr {
            height: 342px;
            max-width: 608px;
          }

          h3 {
            font-size: 24px;
            padding-top: 24px;
          }
        }
      }
    }
  }
}

@include response('phone') {
  .home-wrap {
    .heroImg {
      height: 231px;
      .hero-contetns {
        strong,
        p {
          font-size: 13px;
        }
        strong {
          margin-bottom: 8px;
        }
        p {
          margin-bottom: 12px;
        }
        button {
          a {
            padding: 7px 13px;
            font-size: 7px;
          }
        }
      }
    }

    .section-wrap {
      section {
        &.home-content {
          padding-bottom: 32px;
          h2 {
            font-size: 12px;
            padding: 0 5% 97px;
            padding: 32px 0 16px;
          }
        }
        strong {
          font-size: 10px;
        }

        &.guestbook-wrap {
          max-height: 310px;
          margin: 16px 0 20px;
          width: 100%;

          .guestbook-photo-wrap {
            margin: 16px 0;
          }
          .guestbook-go {
            margin-bottom: 20px;
            a {
              font-size: 10px;
              padding: 7px 30px;
            }
          }
        }

        &.home-video {
          margin-bottom: 89px;
          .home-video-inr {
            max-width: 320px;
            height: 180px;
          }

          h3 {
            font-size: 12px;
            padding-top: 16px;
          }
        }
      }
    }
  }
}
