@import "../../mainStyle.scss";

.home-wrap {
  margin-top: -$header-heigth-web;
  @include mainRow("r3", "home", "");
  .heroImg {
    @include backgroundImage;
    background-color: rgba(171, 192, 131, 0.61);
  }
  .section-wrap {
    @include sectionRow("default");
    section {
      padding-bottom: 270px;
      text-align: center;
      max-width: 867px;

      h2 {
        padding: 72px 0 39px;
        color: #000000;
        font: {
          size: 40px;
        }
      }

      p {
        padding-bottom: 150px;
        font-size: 32px;
      }

      .home-video {
        height: 488px;
        max-width: 867px;
        max-height: 488px;
        video {
          @include widthHeight;
        }
      }
      h3 {
        font-size: 32px;
        padding-top: 32px;
      }
    }
  }
}
