@import '../../mainStyle.scss';
@font-face {
  font-family: 'Eulyoo1945-SemiBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/Eulyoo1945-SemiBold.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

.home-wrap {
  margin-top: -$header-heigth-web;
  @include mainRow('r3', 'home', 76px, 600px);
  .heroImg {
    @include backgroundImage;
    background-image: url('../../../assets/images/Home_image_notext@2x.png');
    background-size: cover;
    display: grid;
    align-content: center;
    .hero-contetns {
      width: 90%;
      margin: 0 auto;
      max-width: 1111px;
      font-size: 40px;
      display: grid;

      p,
      strong {
        text-shadow: 0px 0px 10px #c6d356cc;
        color: #ffffff;
        font-family: 'Eulyoo1945-SemiBold';
      }
      strong {
        margin-bottom: 24px;
      }
      p {
        margin-bottom: 48px;
      }
      button {
        a {
          padding: 15px 41px;
          width: fit-content;
          color: #ffffffcc;
          font-size: 20px;
          border: 1px solid #ffffff99;
          transition: all ease 0.3s;
          &:hover {
            color: #ffffff;
            border: 1px solid #ffffff;
          }
        }
      }
    }
  }
  .section-wrap {
    margin: 0 auto;
    section {
      padding: 0 2% 270px;
      text-align: center;
      max-width: 867px;
      * {
        font-family: 'NEXON Lv1 Gothic OTF';
      }

      h2 {
        padding: 72px 0 39px;
        color: #000000;
        font-size: 40px;
      }

      p {
        padding-bottom: 150px;
        font-size: 32px;
      }

      .home-video {
        max-width: 867px;
        height: 488px;
        iframe {
          @include widthHeight;
        }
        h3 {
          font-size: 32px;
          padding-top: 32px;
        }
      }
    }
  }
}

@include response('tablet') {
  .home-wrap {
    @include mainRow('r3', 'home', 60px, 560px);

    .heroImg {
      padding-top: 60px;
      .hero-contetns {
        strong,
        p {
          font-size: 24px;
        }
        s strong {
          margin-bottom: 20px;
        }
        p {
          margin-bottom: 20px;
        }
        button {
          a {
            padding: 11px 25px;
            font-size: 14px;
          }
        }
      }
    }

    .section-wrap {
      section {
        padding: 0 8% 154px;
        h2 {
          font-size: 28px;
          padding: 58px 0 48px;
        }

        p {
          padding-bottom: 48px;
          font-size: 24px;
        }

        .home-video {
          max-width: 608px;
          margin: 0 auto;
          height: 342px;
          h3 {
            font-size: 24px;
            padding-top: 24px;
          }
        }
      }
    }
  }
}

@include response('phone') {
  .home-wrap {
    @include mainRow('r3', 'home', 93px, 291px);

    .heroImg {
      .hero-contetns {
        strong,
        p {
          font-size: 13px;
        }
        strong {
          margin-bottom: 8px;
        }
        p {
          margin-bottom: 12px;
        }
        button {
          a {
            padding: 7px 13px;
            font-size: 7px;
          }
        }
      }
    }

    .section-wrap {
      section {
        padding: 0 5% 97px;
        h2 {
          font-size: 12px;
          padding: 32px 0 16px;
        }
        p {
          padding-bottom: 32px;
          font-size: 10px;
        }

        .home-video {
          max-width: 320px;
          height: 180px;
          h3 {
            font-size: 12px;
            padding-top: 16px;
          }
        }
      }
    }
  }
}
