@import '../../assets/_mixin.scss';
@import '../../assets/_variables.scss';

.hero-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16vw;
  .hero-img__contents {
    h1 {
      margin-bottom: 33px;
      font-weight: 800;
      font-size: 32px;
    }
    h2 {
      font-size: 24px;
    }
  }
  .hero-img__logo {
    @include backgroundImage;
    background-image: url('../../../src/assets/images/GuestBook_image.png');
    width: 370px;
    height: 280px;

  }

}

.visitors__wrap {
  position: relative;
  margin: 53px auto 0;
  padding: 0 4.3% 154px;
  width: 100%;
  max-width: 1293px;
  min-width: 616px;
  box-sizing: border-box;
  background-color: blue($color: #000000);
  .visitors__poster {
    padding-bottom: 100px;
    .visitors__poster__img {
      padding: 0;
      margin: 0;
      @include backgroundImage;
      background-image: url('../../assets/images/joljak_poster.png');
      width: 100%;
      height: 100vh;
    }
    .visitors__poster__contents {
      .visitors__poster__content {
        width: 57%;
        margin: 0 auto;
        margin-top: 30px;
        h2 {
          margin-top: 15px;
          margin-bottom: 10px;
        }
        h2 span {
          color: white;
          background-color: #6d6d6dcc;
          font-family: 'Eulyoo1945-SemiBold';

        }
        p {
          font-family: 'Eulyoo1945-SemiBold';
        }
        .location__image {
          @include backgroundImage;
          background-image: url('../../assets/images/2021_location.png');
          width: 300px;
          height: 300px;
        }
      }
    }
  }
}

@include response('tablet') {
  .hero-img {
    padding: 0px 10vw;
    .hero-img__contents {
      h1 {
        margin-bottom: 12px;
        font-weight: 800;
        font-size: 26px;
      }
      h2 {
        font-size: 20px;
      }
    }
    .hero-img__logo {
      width: 218px;
      height: 164px;
    }
  }
  .visitors__wrap {
    margin-top: 24px;
    min-width: 0;
    padding: 0 3%;
  }

  .visitors__wrap {
    margin-top: 24px;
    min-width: 0;
    padding: 0 3%;
    .visitors__poster {
      .visitors__poster__img {
        height: 80vh;
      }
      .visitors__poster__contents {
        .visitors__poster__content {
          width: 100%;
        }
      }
    }

  }
}

@include response('phone') {
  .hero-img {
    padding: 0px 5vw;
    .hero-img__contents {
      h1 {
        margin-bottom: 12px;
        font-weight: 800;
        font-size: 18px;
      }
      h2 {
        font-size: 13px;
      }
    }
    .hero-img__logo {
      width: 152px;
      height: 114px;
    }
  }
  .visitors__wrap {
    margin-top: 0px;
    min-width: 0;
    padding: 0 3%;
  }
}