@import '../../../../assets/_mixin.scss';
@import '../../../../assets/variables';

.work-create-wrap {
  &.page-box {
    padding-top: 40px;
  }
  .work-create-inr {
    display: grid;
    > div {
      display: inherit;
    }
  }
  .work-editor {
    height: 747px;
    > div {
      height: 100% !important;
      .tui-editor-defaultUI {
        border: 1px solid #6d6d6d66;
        .te-toolbar-section {
          .tui-editor-defaultUI-toolbar {
            background-color: #f8f8f8;
            > button {
              background-color: transparent;
              border: none;
            }
          }
        }

        .te-editor-section {
          .tui-editor {
            .te-ww-container {
              background-color: #f8f8f8;
              .te-editor {
                .tui-editor-contents {
                  padding: 42px 72px;
                }
              }
            }
          }
        }

        .te-mode-switch-section {
          display: none !important;
          border: none;
          background-color: #f8f8f8;
          .te-mode-switch {
            display: none;
          }
        }
      }
    }
  }

  select,
  .category,
  input {
    border: 1px solid #6d6d6d66;
    height: 100%;
    padding: 7px 12px;
    background-color: #ffffff;
    font-size: 18px;
  }
}

.work-create-header {
  > div,
  .work-create-title {
    align-items: center;
  }

  .work-create-title {
    display: flex;
    margin-bottom: 40px;
    gap: 12px;
    font-size: 28px;
    .write-icon {
      @include backgroundImage;
      background-image: url('../../../../assets/images/create_black@2x.png');
      width: 28px;
      height: 28px;
    }
  }

  > div {
    display: grid;
    gap: 14px;
    margin-bottom: 24px;
    height: 42px;
    grid-template-columns: max-content auto;

    strong {
      width: 96px;
      font-size: 24px;
    }
  }
  .category {
    display: flex;
    align-items: center;
    color: #000000;
    font-size: 17px;
  }

  select {
    position: relative;
    width: 50%;
    max-width: 276px;

    &:focus {
      outline: none;
    }
    option {
      color: #6d6d6d;
    }
  }
}

.work-create-main {
  row-gap: 40px;
  .work-row {
    display: grid;
    strong {
      margin-bottom: 24px;
      font-size: 24px;

      label {
        display: flex;
        column-gap: 8px;
        align-items: center;
        .upload-icon {
          @include backgroundImage;
          background-image: url('../../../../assets/images/add_circle@2x.png');
          width: 24px;
          height: 24px;
        }
      }
      &:hover {
        label {
          color: #6d6d6dcc;
        }

        .upload-icon {
          opacity: 0.5;
        }
      }
    }
    input {
      border-radius: 4px;
      height: 48px;
      font-size: 16px;
    }

    &.work-members {
      #temaName {
        margin-bottom: 16px;
      }
    }

    &.work-images {
      strong {
        width: fit-content;
        margin-bottom: 8px;
      }
      p {
        margin-bottom: 24px;
        font-size: 20px;
        color: #6d6d6dcc;
      }
      .works-images {
        height: 300px;
        width: 100%;
        background-color: rgba(231, 231, 231, 0.226);
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
        li {
          @include backgroundImage;
          width: calc(20% - 4px);
        }
      }

      &.none {
        padding: 10px;
      }
    }

    label {
      cursor: pointer;
    }

    .file-input {
      display: none;
    }

    &.work-files {
      margin-bottom: 88px;
      .file-box {
        height: 72px;
        background-color: #ffffff;
        border-radius: 4px;
        display: grid;
        padding: 0 48px;
        align-items: center;
        grid-template-columns: repeat(2, max-content) 1fr;
        font-size: 20px;

        .clip-icon {
          @include backgroundImage;
          background-image: url('../../../../assets/images/paperclip@2x.png');
          width: 15px;
          height: 16px;
          margin-right: 16px;
        }
        .file-name {
          color: #6d6d6dcc;
        }
        .del-file-icon {
          @include backgroundImage;
          background-image: url('../../../../assets/images/delete@2x.png');
          justify-self: flex-end;
          width: 22px;
          height: 22px;
          cursor: pointer;
        }

        // 파일을 첨부할경우
        &.fetch-file {
          background-color: #baa2ff;

          .file-name {
            color: #ffffff;
          }
          .clip-icon {
            background-image: url('../../../../assets/images/paperclip_white@2x.png');
          }
          .del-file-icon {
            background-image: url('../../../../assets/images/delete_white@2x.png');
          }
        }
      }
    }
  }
}

.work-create-footer {
  justify-content: center;
  button {
    background-color: #074fd8;
    box-shadow: 0px 0px 3px #00000029;
    color: #ffffff;
    width: 234px;
    height: 56px;
    font-size: 20px;
    border-radius: 4px;
  }
}
@include response('tablet') {
  .work-create-wrap {
    &.page-box {
      padding-top: 32px;
    }
    .work-editor {
      height: 665px;
      > div {
        .tui-editor-defaultUI {
          .te-editor-section {
            .tui-editor {
              .te-ww-container {
                background-color: #ffffff66;
                .te-editor {
                  .tui-editor-contents {
                    padding: 24px 14px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .work-create-header {
    .work-create-title {
      margin-bottom: 31px;
      gap: 8px;
      font-size: 22px;
      .write-icon {
        width: 24px;
        height: 24px;
      }
    }

    > div {
      margin-bottom: 16px;
      height: 36px;

      select,
      .category,
      input {
        font-size: 15px;
      }
      strong {
        width: 73px;
        font-size: 17px;
      }
    }

    select {
      width: 218px;
    }
  }

  .work-create-main {
    .work-row {
      display: grid;
      strong {
        margin-bottom: 26px;
        font-size: 22px;
      }
      input {
        font-size: 12px;
      }
      &.work-images {
        p {
          margin-bottom: 16px;
          font-size: 16px;
        }
      }

      &.work-files {
        .file-box {
          height: 60px;
          padding: 0 24px;
          .clip-icon {
            width: 11px;
            height: 12px;
            margin-right: 15px;
          }
          .file-name {
            font-size: 16px;
          }
        }
      }
    }
  }

  .work-create-footer {
    button {
      width: 172px;
      height: 41px;
      font-size: 14px;
    }
  }
}
@include response('phone') {
  .work-create-wrap {
    &.page-box {
      padding-top: 24px;
    }
    .work-editor {
      height: 348px;
      > div {
        .tui-editor-defaultUI {
          .te-editor-section {
            .tui-editor {
              .te-ww-container {
                background-color: #ffffff66;
                .te-editor {
                  .tui-editor-contents {
                    padding: 19px 16px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .work-create-header {
    .work-create-title {
      margin-bottom: 16px;
      font-size: 14px;
      gap: 8px;
    }
    > div {
      margin-bottom: 16px;
      height: 32px;
      select,
      .category,
      input {
        font-size: 15px;
      }
      strong {
        // width: 59px;
        font-size: 16px;
      }
    }

    select {
      width: 100%;
    }
  }

  .work-create-main {
    row-gap: 24px;
    .work-row {
      strong {
        margin-bottom: 8px;
        font-size: 17px;
        .upload-icon {
          width: 18px;
          height: 18px;
        }
      }
      input {
        height: 40px;
        font-size: 11px;
      }

      &.work-members {
        #temaName {
          margin-bottom: 8px;
        }
      }
      &.work-images {
        p {
          margin-bottom: 8px;
        }
      }
      &.work-files {
        margin-bottom: 40px;
        padding: 0 11px;
        .file-box {
          height: 48px;
          .clip-icon {
            width: 9px;
            height: 10px;
            margin-right: 6px;
          }
          .file-name {
            font-size: 12px;
          }
          .del-file-icon {
            width: 18px;
            height: 18px;
          }
        }
      }
    }
  }

  .work-create-footer {
    button {
      width: 128px;
      height: 30px;
      font-size: 11px;
    }
  }
}
