@import "../../assets/_minxin.scss";
// @import "../../assets/variables.scss";
main {
  padding-top: $hs-web;
}

@include response("tablet") {
  main {
    padding-top: $hs-tablet;
  }
  .home {
    margin-top: -$hs-tablet;
  }
}
.home {
  margin-top: -$hs-web;
  @include mainRow("r-home");
  .heroImg {
    @include backgroundImage;
    background-color: rgba(171, 192, 131, 0.61);
  }
  section {
    padding-bottom: 270px;
    display: grid;
    grid-auto-rows: auto;
    place-items: center;
    justify-self: center;
    text-align: center;
    max-width: 867px;

    h2 {
      padding: 72px 0 39px;
      font: {
        size: 40px;
      }
    }

    p {
      padding-bottom: 150px;
      font: {
        size: 32px;
      }
    }
    .home-video {
      height: 488px;
      width: calc(100%);
      // max-width: 867px;

      h3 {
        font-size: 32px;
        padding-top: 32px;
      }
    }
  }
}
