@import '../../../../../assets/_mixin.scss';
@import '../../../../../assets/_variables.scss';

.hero-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16vw;
  .hero-img__left {
    h1 {
      margin-bottom: 33px;
      font-weight: 800;
      color: #000000cc;
      font: normal normal bold 32px/37px NEXON Lv1 Gothic OTF;
    }
    h2 {
      font-size: 24px;
      color: #000000cc;
    }
  }
  .hero-img__right__idea {
    @include backgroundImage;
    background-image: url('../../../../../assets/images/Ideas_image.png');
    width: 370px;
    height: 280px;
  }
}

.ideas-wrap {
  position: relative;
  margin: 53px auto 0;
  padding: 0 4.3% 154px;
  width: 100%;
  max-width: 1293px;
  min-width: 616px;
  box-sizing: border-box;

  .ideas-body {
    .ideas-body-title {
      width: 100%;
      margin-bottom: 16px;
      padding-left: 2px;
      padding-right: 24px;
      thead {
        tr {
          text-align: left;
          th {
            font-weight: 400;
            &:nth-child(1) {
              width: 7%;
            }
            &:nth-child(2) {
              width: 7%;
            }
            &:nth-child(3) {
              width: 19%;
            }
            &:nth-child(4) {
              width: 12%;
            }
            &:nth-child(5) {
              width: 30%;
            }
            &:nth-child(6) {
              width: 10%;
            }
            &:nth-child(7) {
              width: 7%;
            }
          }
        }
      }
    }
  }

  .ideas-top {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 38px;
    box-sizing: border-box;

    .ideas-top-left {
      display: flex;
      align-items: center;
      font-size: 28px;
      .ideas-count {
        display: flex;
        h3 {
          font: 28px;
          &:nth-child(2) {
            margin-left: 16px;
          }
        }
      }
      .sidebar {
        margin-left: 16px;
        font-size: 28px;
      }
      .ideas-hide-complete {
        margin-left: 16px;
        h3 {
          color: #5a5a5a;
          font: normal normal medium 24px/36px Noto Sans KR;
          cursor: pointer;
        }
      }
    }

    .ideas-top-right {
      display: flex;
      button {
        &:last-child {
          margin-left: 40px;
        }
      }
    }
  }
}
.last-list {
  text-align: center;
}

@include response('tablet') {
  .hero-img {
    padding: 0px 10vw;
    .hero-img__left {
      h1 {
        margin-bottom: 12px;
        font-weight: 800;

        font: normal normal bold 26px/30px NEXON Lv1 Gothic OTF;
      }
      h2 {
        font-size: 20px;
      }
    }
    .hero-img__right__idea {
      width: 218px;
      height: 164px;
    }
  }
  .ideas-wrap {
    margin-top: 24px;
    min-width: 0;
    padding: 0 3%;

    .ideas-body {
      .ideas-body-title {
        display: none;
      }
    }

    .ideas-top {
      display: flex;
      position: relative;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      padding-bottom: 38px;
      box-sizing: border-box;

      .ideas-top-left {
        display: flex;
        font-size: 16px;
        .ideas-count {
          display: flex;
          h3 {
            font: normal normal medium 16px/24px Noto Sans KR;
            &:nth-child(2) {
              margin-left: 8px;
            }
          }
        }
        .sidebar {
          margin-left: 16px;
          font-size: 16px;
        }
        .ideas-hide-complete {
          h3 {
            color: #5a5a5a;
            margin-left: 0px;
            font: normal normal normal 16px/24px Noto Sans KR;
            cursor: pointer;
          }
        }
      }

      .ideas-top-right {
        display: flex;
        margin-left: -30px;
        margin-top: 20px;

        .ideas-top-right-button {
          padding: 100px;
        }
      }
    }
  }
}

@include response('phone') {
  .hero-img {
    padding: 0px 5vw;
    .hero-img__left {
      h1 {
        margin-bottom: 12px;
        font-weight: 800;

        font: normal normal bold 18px/21px NEXON Lv1 Gothic OTF;
      }
      h2 {
        font-size: 13px;
      }
    }
    .hero-img__right__idea {
      width: 152px;
      height: 114px;
    }
  }
  .ideas-wrap {
    .ideas-top {
      .ideas-top-left {
        font-size: 15px;
        .ideas-count {
          h3 {
            font-size: 15px;
          }
        }
      }
    }
  }
}
