@import '../../../../../assets/_mixin.scss';
@import '../../../../../assets/_variables.scss';

.ideas-wrap {
  position: relative;
  margin: 53px auto 0;
  padding: 0 4.3% 154px;
  width: 100%;
  max-width: 1293px;
  min-width: 616px;
  box-sizing: border-box;

  .ideas-top {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 38px;
    box-sizing: border-box;

    .ideas-top-left {
      display: flex;
      align-items: center;
<<<<<<< HEAD

      .ideas-count {
        display: flex;
        h3 {
          font-size: 17px;
=======
      .ideas-count {
        display: flex;
        h3 {
          font-size: 28px;
>>>>>>> f321971ce53a7c5dc0ae4747629b212ab5fd57ef
          &:nth-child(2) {
            margin-left: 16px;
          }
        }
      }
      .sidebar {
        margin-left: 16px;
        font-size: 28px;
      }
      .ideas-hide-complete {
        margin-left: 16px;
        h3 {
          color: #5a5a5a;
<<<<<<< HEAD
          font-size: 17px;
=======
          font-size: 28px;
>>>>>>> f321971ce53a7c5dc0ae4747629b212ab5fd57ef
          cursor: pointer;
        }
      }
    }

<<<<<<< HEAD
    // .ideas-top-right {
    //   display: flex;
    //   position: absolute;
    //   top: 0%;
    //   left: 57%;
    //   .ideas-top-right-button {
    //     padding: 100px;
    //   }
    // }

=======
>>>>>>> f321971ce53a7c5dc0ae4747629b212ab5fd57ef
    .ideas-top-right {
      display: flex;
      button {
        &:last-child {
          margin-left: 40px;
        }
      }
    }
  }

  .ideas-body {
  }
}

@include response('tablet') {
  .ideas-wrap {
    margin-top: 24px;
    min-width: 0;
    padding: 0 3%;

    .ideas-top {
      display: flex;
<<<<<<< HEAD
      position: relative;
=======
>>>>>>> f321971ce53a7c5dc0ae4747629b212ab5fd57ef
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      padding-bottom: 38px;
      box-sizing: border-box;

      .ideas-top-left {
        display: flex;
        .ideas-count {
          display: flex;
          h3 {
            font-size: 16px;
            &:nth-child(2) {
              margin-left: 8px;
            }
          }
        }
        .sidebar {
          margin-left: 16px;
          font-size: 16px;
        }
        .ideas-hide-complete {
          h3 {
            color: #5a5a5a;
            margin-left: 0px;
            font-size: 16px;
            cursor: pointer;
          }
        }
      }

      .ideas-top-right {
        display: flex;
<<<<<<< HEAD
        margin-left: -30px;
        margin-top: 20px;

        .ideas-top-right-button {
          padding: 100px;
=======
        .create {
          margin-left: 30px;
>>>>>>> f321971ce53a7c5dc0ae4747629b212ab5fd57ef
        }
      }
    }

    .ideas-body {
    }
  }
}
