@import '../../../../../assets/_mixin.scss';
@import '../../../../../assets/_variables.scss';

.idea {
  background-color: #ffffff;
  margin-bottom: 32px;
  padding: 28px 29px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  text-align: left;
  box-sizing: border-box;
  width: 100%;
  box-shadow: 0px 0px 4px #00000029;

  .idea__status__complete {
    @include backgroundImage;
    background-image: url('../../../../../assets/images/check_circle@2x.png');
    width: 20px;
    height: 20px;
    margin-right: 40px;
  }
  .idea__status__ongoing {
    @include backgroundImage;
    background-image: url('../../../../../assets/images/check_circle@2x.png');
    width: 20px;
    height: 20px;
    margin-right: 40px;
    opacity: 0.3;
  }

  .idea__id {
    order: 1;
    width: 5%;
  }
  .idea__title {
    order: 2;
    width: 25%;
  }
  .idea__category {
    order: 3;
    width: 13%;
    margin-right: 10px;
  }
  .idea__required {
    order: 4;
    display: flex;
    align-items: center;
    width: 35%;
  }
  .idea__author {
    order: 5;
    width: 12%;
    margin-left: 10px;
  }

  .idea__date {
    order: 6;
    width: 10%;
    text-align: right;
  }
}
.idea:hover {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

@include response('tablet') {
  .idea {
    background-color: #ffffff;
    margin-bottom: 32px;
    padding: 12px 12px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 8px;
    text-align: left;

    box-sizing: border-box;
    flex-direction: column;
    width: 100%;

    .idea__status {
      width: 10%;
      order: 1;
      position: absolute;
      left: 4%;
      top: 42%;
    }

    .idea__id {
      display: none;
    }
    .idea__title {
      font-size: 20px;
      width: 90%;
      order: 1;
      margin-left: 90px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .idea__required {
      width: 90%;
      margin-left: 90px;
      justify-content: flex-start;
      order: 3;
    }
    .idea__body__bottom {
      width: 90%;
      display: flex;
      margin-left: 90px;
      order: 4;
      align-items: flex-start;
      box-sizing: border-box;
      margin-top: 10px;
      margin-bottom: 12px;
      .idea__category {
        width: 30%;
        order: 4;
      }
      .idea__author {
        width: 30%;
        order: 4;
        color: #6d6d6dcc;
      }
      .idea__date {
        width: 30%;
        order: 4;
        margin-left: -10%;
        text-align: right;
        color: #6d6d6dcc;
      }
    }
  }
}

.hidden {
  display: none;
}
