@import "../assets/_mixin.scss";
@import "../assets/_variables.scss";

main {
  padding-top: $header-heigth-web;

  .section-wrap {
    justify-self: center;
    display: grid;
  }
}

@include response("tablet") {
  main {
    padding-top: $header-height-tablet;
  }

  .home-wrap {
    margin-top: -$header-height-tablet;
  }
}
