@import '../assets/_mixin.scss';
@import '../assets/_variables.scss';

main {
  padding-top: $header-heigth-web;
  height: 100%;
  .section-wrap {
    position: relative;
    display: grid;
    grid-template-rows: max-content auto;
    height: 100%;
  }
  .side-menu {
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 1px 4px #00000029;
    height: inherit;
    z-index: 1000;

    ul {
      height: 64px;
      display: flex;
      gap: 91px;
      justify-content: center;
      li {
        position: relative;
        &.click {
          a {
            color: #baa2ff;
          }
        }

        a {
          place-items: center;
          display: grid;
          color: #000000cc;
          font-size: 16px;
          height: 100%;
        }
        &:hover {
          a {
            color: #baa2ff;
          }
          span {
            display: block;
          }
        }
      }
    }
  }
  .contents {
    .content {
      .hero-img {
        width: 100%;
        height: 463px;
        background-color: #ffffff;
        box-shadow: 0px 1px 2px #00000029;
      }
    }
  }

  .content-size {
    margin: 53px auto 0;
    padding: 0 4.3% 154px;
    width: 100%;
    max-width: 1352px;
    min-width: 616px;
    display: grid;
    grid-template-rows: max-content auto;
    row-gap: 50px;
    .content-header {
      display: grid;
      width: 100%;
      grid-template-areas: 'total search button';
      justify-content: space-between;
      align-items: center;
    }
    h3 {
      display: flex;
      align-items: center;
      gap: 16px;
      font-size: 28px;
      grid-area: total;
    }
    .search-list {
      border-bottom: 1px solid #6d6d6d66;
      grid-area: search;
      display: flex;
      column-gap: 12px;
      align-items: center;
      padding: 8px 3px;
      transition: all ease 0.2s;
      .search-icon {
        width: 20px;
        height: 20px;
        @include backgroundImage;
        background-size: cover;
        background-image: url('../assets/images/search_gray@2x.png');
      }
      input {
        border: none;
        background-color: transparent;
        &::placeholder {
          font-weight: bold;
          color: #6d6d6d66;
        }
      }

      &.dark {
        border-bottom: 1px solid #000000;

        .search-icon {
          background-image: url('../assets/images/Search@2x.png');
        }
        input {
          &::placeholder {
            color: #000000;
            font-weight: bold;
          }
          color: #000000;
        }
      }
    }
    .main-functions {
      display: flex;
      gap: 37px;
      grid-area: button;
    }
  }
}
.page-box {
  margin: 114px auto 92px;
  max-width: 1052px;
  box-sizing: content-box;
  padding: 0 6%;
}
// succeedPopUp PAGE
.success {
  position: fixed;
  z-index: 1200;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff;

  > div {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    background-color: #00000066;

    .success-wrap {
      display: grid;
      grid-template-rows: repeat(2, auto);
      background-color: #ffffff;
      box-shadow: 0px 0px 6px #00000029;
      place-content: space-between center;
      place-items: center;
      padding: 24px 0;
      max-width: 582px;
      max-height: 171px;
      width: 50%;
      height: 30%;
      border-radius: 8px;

      button {
        font-size: 20px;
        background-color: #ffffff;
        border: 1px solid #000000cc;
        border-radius: 23px;
        width: 174px;
        height: 45px;
        cursor: pointer;
      }
    }
  }
}

// Team build Page
.list-none {
  display: grid;
  padding: 60px 0;
  height: 100%;
  place-items: center;

  strong {
    font-size: 24px;
    color: #6d6d6dcc;
  }
}

@include response('tablet') {
  main {
    padding-top: $header-height-tablet;
    .section-wrap {
      grid-template-rows: auto;
    }
    .side-menu {
      display: none;
    }
    .contents {
      .content {
        .hero-img {
          height: 320px;
        }
      }
    }

    .content-size {
      margin: 26px 0 83px;
      min-width: 0;
      padding: 0 3%;

      .content-header {
        grid-template-areas:
          'total  button'
          'search search';
      }
      h3 {
        font-size: 16px;
        column-gap: 8px;
      }
      .main-functions {
        column-gap: 24px;
        right: 3%;
      }
    }
  }
  .page-box {
    min-width: none;
    margin-bottom: 165px;
    padding: 0 10%;
  }

  .home-wrap {
    margin-top: -$header-height-tablet;
  }

  .list-none {
    padding: 56px 0 96px;
  }
}

@include response('phone') {
  main {
    .contents {
      .content {
        .hero-img {
          height: 210px;
        }
      }
    }
    .content-size {
      margin: 23px 0 130px;
      .main-functions {
        column-gap: 3%;
      }
    }
  }

  .page-box {
    min-width: 320px;
    margin-bottom: 160px;
    padding: 0 3%;
  }

  .list-none {
    padding: 58px 0 154px;

    strong {
      font-size: 14px;
      color: #6d6d6dcc;
    }
  }
}
