@import '../../../../../assets/_mixin.scss';
@import '../../../../../assets/_variables.scss';

.author-wrap {
  .author-list {
    display: flex;
    flex-wrap: wrap;
    gap: 64px 30px;
    width: 100%;
    li {
      background-color: #ffffff;
      min-width: 258px;
      border-radius: 16px;
      width: calc(25% - 22.5px);
      box-shadow: 1px 1px 3px #00000029;
      cursor: pointer;
      overflow: hidden;
      border: 1px solid transparent;
      a {
        display: grid;
        padding: 24px;
        padding-top: 32px;
        grid-template-rows: repeat(4, max-content);
      }
      .main-role {
        display: grid;
        font-size: 28px;
        grid-template-rows: repeat(2, min-content);
        gap: 12px;
        padding-bottom: 74px;

        .main-role-hover {
          background-color: lightcoral;
          width: 48px;
          height: 6px;
          border-radius: 4px;
          transition: width ease-out 0.3s;
        }
      }

      .author-name {
        font-weight: bold;
        font-size: 24px;
        padding-bottom: 12px;
        span {
          margin-left: 12px;
          font-size: 20px;
          color: #00000099;
          font-weight: normal;
        }
      }

      .sub-role {
        display: grid;
        place-items: center;
        font-size: 12px;
        border: 1px solid;
        border-radius: 16px;
        width: $web-sub-role-txt-w;
        height: $web-sub-role-txt-h;
        margin-bottom: 40px;
      }

      .author-img {
        border-radius: 8px;
        position: relative;
        place-self: center;
        background-color: #6d6d6d15;
        @include backgroundImage;
        align-self: flex-end;
        width: 100%;
        transition: transform ease 0.3s;
        overflow: hidden;
        background-size: cover;
      }

      &:hover {
        border: 1px solid #b6b6b6;
        .main-role {
          .main-role-hover {
            width: 140px;
          }
        }
        .author-img {
          transform: scale(1.1);
        }
        .hover-bg {
          @include widthHeight;
          content: '';
          position: absolute;
          background-color: #000000;
          opacity: 0.3;
        }
      }
    }
  }
}

.page-box {
  margin: 0 auto 92px;
  max-width: 1052px;
  box-sizing: content-box;
  padding: 0 6%;
}

@include response('tablet') {
  .author-wrap {
    .author-list {
      gap: 33px 22px;
      li {
        min-width: 188px;
        width: calc(33.3333333333% - 15px);
        // height: 414px;
        a {
          padding: 16px;
          padding-top: 24px;
        }
        .main-role {
          font-size: 20px;
          gap: 6px;
          padding-bottom: 78px;
          .main-role-hover {
            width: 37px;
            height: 4px;
          }
        }
        .author-name {
          font-size: 17px;
          span {
            margin-left: 8px;
            font-size: 14px;
          }
        }
        .sub-role {
          font-size: 12px;
          width: $tablet-sub-role-txt-w;
          height: $tablet-sub-role-txt-h;
        }
      }
    }
  }
}

@include response('phone') {
  .author-wrap {
    .author-list {
      column-gap: 16px;
      li {
        min-width: 152px;
        width: calc(50% - 8px);
        // height: 383px;
        a {
          padding: 10px;
        }
        .main-role {
          font-size: 17px;
          gap: 6px;
          padding-bottom: 75px;
          .main-role-hover {
            width: 33px;
          }
        }
        .author-name {
          font-size: 16px;
          span {
            margin-left: 4px;
            font-size: 12px;
          }
        }
        .sub-role {
          font-size: 10px;
          margin-bottom: 48px;
        }

        &:hover {
          .main-role {
            .main-role-hover {
              width: 100px;
            }
          }
        }
      }
    }
  }
}

@include response('phone-m') {
  .author-wrap {
    h3 {
      font-size: 12px;
    }
    .author-list {
      row-gap: 10px;
      li {
        position: relative;
        grid-auto-rows: auto;
        width: 100%;
        height: 128px;

        .main-role {
          font-size: 17px;
          padding-bottom: 10px;
          .main-role-hover {
            width: 33px;
          }
        }
        .sub-role {
          margin-bottom: 0;
        }
        .author-img {
          position: absolute;
          right: 10px;
          width: $phone-author-img - 20px;
          height: $phone-author-img - 20px;
        }
      }
    }
  }
} ;
