@import "../../assets/_minxin.scss";

$footer-logo: 80px;

footer {
  background-color: #ffffff;
  .inr {
    @include footerStyle($footer-logo);
    .f-logo {
      width: $footer-logo;
      height: $footer-logo;
      background-color: aqua;
      @include backgroundImage;
    }
    span {
      width: fit-content;
      place-self: center;
      color: #6d6d6dcc;
      fong: {
        size: 14px;
      }
      &.e-mail {
        justify-self: end;
      }
    }
  }
}
