@import './_variables.scss';

// common ----------------------------------------------------
@mixin widthHeight {
  width: 100%;
  height: 100%;
}
@mixin backgroundImage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@mixin logo($tag, $size) {
  @if $tag == 'header-logo' {
    @if $size == '' {
      width: $header-logo-web;
      height: 40px;
    } @else if $size == 'tablet' {
      width: $header-logo-tablet;
      height: 30px;
    } @else {
      width: $header-logo-phone;
      height: 24px;
    }
  } @else if $tag == 'nav-logo' {
    @if $size == 'tablet' {
      width: $side-nav-logo-tablet;
      height: 83px;
    } @else {
      width: $side-nav-logo-phone;
      height: 45px;
    }
  } @else if $tag == 'footer-logo' {
    @if $size == 'tablet' {
      width: $footer-logo-tablet;
      height: $footer-logo-tablet;
    } @else if $size == 'phone' {
      width: $footer-logo-phone;
      height: $footer-logo-phone;
    } @else {
      width: $footer-logo-web;
      height: $footer-logo-web;
    }
  }
}

@mixin centerPosition {
  top: 50%;
  transform: translateY(-50%);
  @content;
}

@mixin setMoreIcon($width, $heigth) {
  width: $width;
  height: $heigth;
  position: absolute;
  @include centerPosition {
    transform: translate(-50%);
    left: 50%;
  }
}

// header ----------------------------------------------------
@mixin headerStyle($col, $type) {
  display: grid;
  align-items: center;
  @if $col == 'c2' {
    @if $type == 'web' {
      grid-template-columns: 1fr auto;
      justify-content: space-between;
    } @else if $type == 'res' {
      grid-template-columns: repeat(2, 1fr);
    } @else if $type == 'mypage' {
      grid-template-columns: repeat(2, auto);
    } @else {
      grid-template-columns: auto 1fr;
    }
  } @else if $col == 'c3' {
    grid-template-columns: repeat(3, max-content);
    justify-items: center;
  }
}

@mixin headerRow($row, $type) {
  display: grid;
  @if $row == 'r2' {
    @if $type == 'nav-tablet' {
      grid-template-rows: 30% minmax(307px, auto);
    } @else if $type == 'sub-tablet' {
      grid-template-rows: auto 1fr;
    } @else if $type == 'sub-list-tablet' {
      grid-auto-rows: auto;
    }
  }
}

@mixin sideNavStyle {
  padding-top: 16px;
  border-top: 1px solid #ffffff66;
}

// main -------------------------------------------------------
@mixin mainRow($row, $name, $size, $max) {
  display: grid;
  @if $row == 'r2' {
    @if $name == 'mypage' {
      grid-template-rows: minmax(20%, $max) auto;
    }
  } @else if $row == 'r3' {
    @if $name == 'home' {
      grid-template-rows: max-content 1fr $size;
    }
  }
}
@mixin translateStyle($size) {
  transform: translate(-$size, $size);
}

@mixin sectionStyle($grid, $type, $max, $size) {
  display: grid;
  @if $grid == 'col' {
    @if $type == 'web' {
      grid-template-columns: minmax(17%, min-content) 1fr;
    } @else if $type == 'web-input' {
      grid-template-columns: minmax(auto, $max) $size;
    }
  } @else if $grid == 'row' {
    @if $type == 'phone' {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, max-content);
    }
  }
}

// teams > author
@mixin teamsSubTxt($size) {
  color: #6d6d6dcc;
  @if $size == 'web' {
    font-size: 24px;
    margin-left: 24px;
  } @else if $size == 'tablet' {
    font-size: 16px;
    margin-left: 8px;
  } @else if $size == 'phone' {
    font-size: 12px;
  }
}
@mixin teamsRow2($size) {
  grid-template-rows: max-content 1fr;
  @if $size == 'web' {
    gap: 70px;
  } @else if $size == 'tablet' {
    gap: 48px;
  } @else if $size == 'phone' {
    gap: 29px;
  }
}

@mixin teamsH3($size) {
  color: #000000;
  justify-self: center;
  @if $size == 'web' {
    font-size: 32px;
  } @else if $size == 'tablet' {
    font-size: 24px;
  } @else if $size == 'phone' {
    font-size: 17px;
  }
}
// footer -----------------------------------------------------
@mixin footerStyle($grid, $type) {
  display: grid;
  @if $grid == 'col' {
    @if $type == 'web' {
      gap: 133px;
      grid-template-columns: 1fr $footer-logo-web 1fr;
    } @else if $type == 'tablet' {
      gap: 7.4%;
      grid-template-columns: auto $footer-logo-tablet auto;
    }
  } @else if $grid == 'row' {
    @if $type == 'phone' {
      gap: 0;
      grid-template-columns: 1fr;
      grid-template-rows: 38px 23px 1fr;
    }
  }
}

// response ---------------------------------------------------
$maxTablet: 768px;
$maxPhone-XL: 447px;
$maxPhone-L: 425px;
$maxPhone-M: 338px;

@mixin response($device) {
  @if $device == 'phone' {
    @media screen and (max-width: $maxPhone-L) {
      @content;
    }
  } @else if $device == 'tablet' {
    @media screen and (max-width: $maxTablet) {
      @content;
    }
  } @else if $device == 'web' {
    @media screen and(max-width: $maxTablet + 100px) {
      @content;
    }
  } @else if $device == 'phone-m' {
    @media screen and(max-width: $maxPhone-M) {
      @content;
    }
  } @else if $device == 'phone-xl' {
    @media screen and(max-width: $maxPhone-XL) {
      @content;
    }
  }
}
