$header-heigth-web: 100px;
$header-height-tablet: 60px;

/* [HEADER]------------------------------------------- */
// font-size
$header-font-web: 24px;
$header-font-web-s: 20px;
$hf-s: 16px;
$side-nav-font-phone: 14px;
$sub-nav-font-phone: 12px;

// logo
$header-logo-web: 68px;
$header-logo-tablet: 51px;
$header-logo-phone: 40px;

// logo-nav
$side-nav-logo-tablet: 140px;
$side-nav-logo-phone: 76px;
=======
$hf: 20px;
$hf-s: 16px;
$hf-p: 14px;
$hf-ps: 12px;

// logo
$lh-w: 68px;
$lh-t: 51px;
$lh-p: 40px;

// logo-nav
$ln-t: 140px;
$ln-p: 76px;

//nav-sub-list
$list: 45px;

/* [MAIN]---------------------------------------------- */

// mypage
$set-btn-width: 174px;
$set-btn-height: 48px;

$pfoile-img-size: 228px;
$set-header-icon: 32px;

/* [FOOTER]-------------------------------------------- */
// logo
$footer-logo-web: 78px;
$footer-logo-tablet: 60px;
$footer-logo-phone: 30px;
=======

/* [FOOTER]-------------------------------------------- */
// logo
$ls-w: 78px;
$ls-t: 60px;
$ls-p: 30px;
