$s-btn: 24px;
$mp-btn: 32px;
$hs-web: 100px;
$hs-tablet: 60px;

//logo-header
$lh-w: 68px;
$lh-t: 51px;
$lh-p: 40px;

//logo-footer
$ls-w: 78px;
$ls-t: 60px;
$ls-p: 30px;

//logo-nav
$ln-t: 140px;
$ln-p: 76px;

//nav-sub-list
$list: 45px;
