$header-heigth-web: 100px;
$header-height-tablet: 60px;

/* [HEADER]------------------------------------------- */
// font-size
$header-font-web: 24px;
$header-font-web-s: 20px;
$side-nav-font-tablet: 20px;
$side-nav-font-phone: 16px;
$sub-nav-font-phone: 16px;

// logo
$header-logo-web: 68px;
$header-logo-tablet: 51px;
$header-logo-phone: 40px;

// logo-nav
$side-nav-logo-tablet: 140px;
$side-nav-logo-phone: 76px;

//nav-sub-list
$list: 45px;

/* [MAIN]---------------------------------------------- */
// mypage
$set-btn-width: 174px;
$set-btn-height: 48px;

$set-btn-width-tablet: 100px;
$set-btn-height-tablet: 40px;

$set-btn-width-phone: 56px;
$set-btn-height-phone: 36px;

$pfoile-img-size-web: 228px;
$pfoile-img-size-tablet: 218px;
$pfoile-img-size-phone: 152px;

$set-header-icon: 32px;
$set-header-icon-phone: 24px;

$section-gap: 30px;
$section-gap-tablet: 16px;
$section-gap-phone: 8px;

// [team build] -----
// ahthorList
$web-sub-role-txt-w: 87px;
$web-sub-role-txt-h: 32px;

$tablet-sub-role-txt-w: 66px;
$tablet-sub-role-txt-h: 24px;

$web-author-img: 228px;
$tablet-author-img: 156px;
$phone-author-img: 128px;

/* [FOOTER]-------------------------------------------- */
// logo
$footer-logo-web: 78px;
$footer-logo-tablet: 60px;
$footer-logo-phone: 30px;
