@import '../../../../../assets/_mixin.scss';
@import '../../../../../assets/_variables.scss';

$web-role-width: 123px;
$tablet-role-width: 103px;
$phone-role-width: 95px;

$web-role-height: 48px;
$tablet-role-height: 40px;
$phone-role-height: 37px;

$web-add-portfolio-size: 32px;
$phone-add-portfolio-size: 24px;

.edit-author-wrap {
  width: 100%;
  max-width: none;
  min-width: none;
  display: grid;
  row-gap: 72px;

  .icon-btn {
    &.save {
      justify-self: center;
      width: 234px;
      height: 56px;
      padding: 0 36px;
    }
  }
}
.edit-section {
  display: grid;
  grid-auto-rows: max-content;
  .edit-author-title {
    display: inherit;
    grid-template-columns: repeat(3, max-content);
    font-size: 20px;
    margin-bottom: 8px;
    column-gap: 4px;
    row-gap: 0;
    height: fit-content;
    color: #000000;
    font-weight: bold;

    .title-icon {
      width: 32px;
      height: 32px;
      @include backgroundImage;
      background-image: url('../../../../../assets/images/arrow_purple@2x.png');
    }

    .set-role-icon {
      @include backgroundImage;
      background-image: url('../../../../../assets/images/Modal@2x.png');
      width: 24px;
      height: 24px;
    }
  }
  .edit-author-description {
    font-size: 16px;
    margin-bottom: 24px;
    color: #6d6d6dcc;
  }
}
.section-contents {
  width: inherit;
  display: grid;
  &.set-img {
    width: 100%;
    column-gap: 30px;
    display: flex;
    cursor: pointer;

    > div {
      width: 40%;
      height: 100px;
      max-width: 378px;
      position: relative;
      @include backgroundImage;
      overflow: hidden;
      .set-img-icon {
        position: absolute;
        display: grid;
        justify-items: center;
        row-gap: 8px;
        @include widthHeight;
        span {
          font-size: 16px;
          color: #ffffff;
        }
      }
      .icon {
        width: 32px;
        height: 32px;
        @include backgroundImage;
        align-self: end;
      }
      .img {
        position: absolute;
        @include widthHeight;
        @include backgroundImage;
        transition: transform ease 0.3s;
      }

      &.custom-img {
        border: 1px dashed #6d6d6dcc;
        .set-img-icon {
          span {
            color: #6d6d6dcc;
          }
        }
        .icon {
          background-image: url('../../../../../assets/images/import@2x.png');
        }

        &.exist-img {
          .set-img-icon {
            span {
              color: #ffffff;
            }
          }
          .icon {
            background-image: url('../../../../../assets/images/import_white@2x.png');
          }
        }

        &:hover {
          .icon {
            background-image: url('../../../../../assets/images/import_hover@2x.png');
          }
          .set-img-icon {
            span {
              color: #000000cc;
            }
          }
        }

        .file-button {
          @include widthHeight;
          position: absolute;
          left: 0;
          top: 0;
          cursor: pointer;
        }
        #input-file {
          display: none;
        }
      }

      &.default-img {
        .set-img-icon {
          background-color: #00000080;
        }
        .img {
          background-image: url('../../../../../assets/images/Designer_image@2x.png');
        }

        .icon {
          background-image: url('../../../../../assets/images/image_default@2x.png');
        }
      }

      &:hover {
        .img {
          transform: scale(1.2);
        }
      }
    }
  }

  &.set-role {
    ul {
      display: flex;
      li {
        display: grid;
        grid-template-rows: repeat(2, max-content);
        font-size: 12px;
        justify-items: center;
        row-gap: 8px;
        strong {
          font-size: 18px;
          width: $web-role-width;
          height: $web-role-height;
          color: #6d6d6d33;
          border: 1px solid #6d6d6d33;
          border-radius: 4px;
          display: inherit;
          place-items: center;
        }
        span {
          color: #6d6d6dcc;
        }
        &:nth-child(1) {
          padding-right: 48px;
          border-right: 1px solid #6d6d6d33;
          span {
            color: #000000;
          }
        }
        &:nth-child(2) {
          padding-left: 48px;
        }
      }
    }
  }

  &.set-introduce {
    height: 288px;
    width: 100%;
    row-gap: 16px;
    justify-items: end;
    position: relative;

    textarea {
      width: inherit;
      height: inherit;
      resize: none;
      border: 1px solid #6d6d6dcc;
      padding: 16px;
      &:focus {
        outline: none;
      }
    }

    .txt-length {
      bottom: 3px;
      right: 4px;
      position: absolute;
      animation-duration: 1s;
    }
    .over {
      animation-name: shake;
      color: red;
    }
    .introduce-btn {
      display: flex;
      align-items: center;
      column-gap: 8px;
    }
  }

  &.set-portfolio {
    ul {
      display: grid;
      gap: 40px;
      margin-bottom: 40px;
      .portfolio {
        grid-template-columns: max-content auto;
        display: inherit;
        grid-template-areas:
          'linkicon ptitle'
          'linkicon link';
        column-gap: 16px;
        row-gap: 15px;

        .porfolio-icon {
          width: 48px;
          height: 48px;
          grid-area: linkicon;
          @include backgroundImage;
          background-image: url('../../../../../assets/images/Portfolio_clip@2x.png');
        }
      }
    }
    .portfolio-title-box {
      display: flex;
      gap: 24px;
      grid-area: ptitle;
      align-items: center;
      .porfolio-title {
        font-size: 20px;
      }
      .edit-delete-box {
        height: fit-content;
      }
    }
    .porfolio-link {
      grid-area: link;
      text-decoration: underline;
      color: #6d6d6d99;
      font-size: 16px;
    }
    .portfolio-add-btn {
      display: flex;
      justify-self: center;
      align-items: center;
      column-gap: 8px;
      .porfolio-add-icon {
        width: $web-add-portfolio-size;
        height: $web-add-portfolio-size;
        @include backgroundImage;
        background-image: url('../../../../../assets/images/add_circle_gray@2x.png');
      }
      &:hover {
        color: #000000cc;
        .porfolio-add-icon {
          background-image: url('../../../../../assets/images/add_circle@2x.png');
        }
      }
      color: #6d6d6d99;
      font-size: 20px;
    }
  }
}

@include response('tablet') {
  .edit-author-wrap {
    row-gap: 56px;
  }

  .section-contents {
    &.set-img {
      column-gap: 16px;
      > div {
        max-width: 296px;
      }
    }

    &.set-role {
      ul {
        li {
          font-size: 14px;
          strong {
            font-size: 16px;
            width: $web-role-width;
            height: $web-role-height;
          }
          &:nth-child(1) {
            padding-right: 36px;
          }
          &:nth-child(2) {
            padding-left: 36px;
          }
        }
      }
    }

    &.set-introduce {
      height: 200px;
      textarea {
        padding: 12px;
      }
    }

    &.set-portfolio {
      ul {
        gap: 50px;
        margin-bottom: 32px;
        .portfolio {
          .porfolio-icon {
            width: 45px;
            height: 45px;
          }
        }
      }
      .portfolio-title-box {
        gap: 20px;
        .porfolio-title {
          font-size: 17px;
        }
      }
      .porfolio-link {
        font-size: 14px;
      }

      .portfolio-add-btn {
        color: #6d6d6d99;
        font-size: 20px;
      }
    }
  }
}

@include response('phone') {
  .edit-author-wrap {
    row-gap: 48px;
  }
  .edit-section {
    .edit-author-title {
      font-size: 16px;
    }
    .edit-author-description {
      font-size: 12px;
    }
  }

  .section-contents {
    &.set-img {
      > div {
        max-width: 152px;
      }
    }
    &.set-introduce {
      height: 445px;
    }

    &.set-role {
      ul {
        li {
          strong {
            font-size: 14px;
            width: $web-role-width;
            height: $web-role-height;
          }
          &:nth-child(1) {
            padding-right: 16px;
          }
          &:nth-child(2) {
            padding-left: 16px;
          }
        }
      }
    }

    &.set-portfolio {
      ul {
        gap: 32px;
        .portfolio {
          .porfolio-icon {
            width: 32px;
            height: 32px;
          }
        }
      }

      .portfolio-title-box {
        gap: 24px;
        align-items: center;
        .porfolio-title {
          font-size: 14px;
        }
      }
      .porfolio-link {
        font-size: 10px;
      }

      .portfolio-add-btn {
        .porfolio-add-icon {
          width: $phone-add-portfolio-size;
          height: $phone-add-portfolio-size;
        }
        color: #6d6d6d99;
        font-size: 16px;
      }
    }
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(-5px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translate3d(5px, 0, 0);
  }
}
